In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_csv("C:/Users/Administrator/Documents/Arun_ML/HR analytics/HR_comma_sep.csv")

In [71]:
dataset.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [72]:
dataset.shape

(14999, 10)

In [73]:
dataset.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [74]:
dataset['salary'].head()

0       low
1    medium
2    medium
3       low
4       low
Name: salary, dtype: object

In [75]:
dataset['salary'].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [76]:
dataset['sales'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [77]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
le=LabelEncoder()
for i in dataset:
    if dataset[i].dtype == 'object':
        le = LabelEncoder()
        le.fit(dataset[i].astype(str))
        temp = le.transform(dataset[i].astype(str))
        if temp.std() == 0:
            print("Dropped attributes with stddev == 0:" , i)
        else:
            one_hot = pd.get_dummies(dataset[i].astype(str))
            one_hot.columns=[(i+"_"+str(n)) for n in le.classes_]
            one_hot.drop(i +"_"+str(le.classes_[0]),inplace=True,axis=1)
            dataset = pd.concat([dataset,one_hot], axis = 1)
            print("Dropped attributes original data after One Hot encoding:", i)
        dataset.drop([i], inplace = True, axis = 1)

Dropped attributes original data after One Hot encoding: sales
Dropped attributes original data after One Hot encoding: salary

In [78]:
dataset.shape

(14999, 19)

In [48]:
target = ['left']
X = dataset.drop(target, axis = 1)
y = pd.DataFrame(dataset[target])

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [50]:
X_train.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_low,salary_medium
9432,0.31,0.38,3,173,2,0,0,0,0,0,0,0,0,0,0,1,1,0
3193,0.49,0.58,5,186,2,0,0,0,0,0,0,0,0,0,0,0,0,0
8207,1.00,0.71,5,186,2,0,0,0,0,0,0,0,0,0,0,1,1,0
1729,0.86,0.95,4,270,5,0,0,0,0,0,0,0,0,0,1,0,1,0
12391,0.45,0.55,2,148,3,0,0,0,0,0,0,0,0,1,0,0,1,0

In [51]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [52]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [53]:

from sklearn.neural_network import MLPClassifier

In [54]:
mlp = MLPClassifier(hidden_layer_sizes=(30,30,30))

In [55]:
mlp.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:904: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 30, 30), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [56]:
predictions = mlp.predict(X_test)

In [57]:

from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[2819   62]
 [  69  800]]

In [58]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.98      0.98      0.98      2881
          1       0.93      0.92      0.92       869

avg / total       0.96      0.97      0.97      3750

In [59]:
len(mlp.coefs_)

4

In [60]:
len(mlp.coefs_[0])

18

In [61]:
len(mlp.intercepts_[0])

30