# PYTHON

TOPICS THAT WILL BE COVERED:

1) Basic Python Syntax 
2) Python Semantics: Variables 
3) Python Semantics: Operators
4) Built-In Scalar Types 
5) Built-In Data Structures
6) Control Flow Statements 
7) Defining Functions
8) Errors and Exceptions
9) Iterators
10) List Comprehension
11) Generators and Generator Expressions
12) Modules and Packages
13) Strings and Regular Expressions
14) Data science

# Basic Python Syntax

In [1]:
# LETS Start with Basic Python syntax

In [8]:
# BASIC ARITHEMATIC OPERATIONS
# Adding two numbers
2+2

4

In [9]:
# Assigning value to a variable
x = 2+2
print(x) # Can just call x instead of print(x)

4

In [10]:
# MUltiplication of two numbers 
3*2

6

In [11]:
x*4

16

In [12]:
x*x

16

In [13]:
# Division 
x/2 # Division operator outputs a float in python 3.x while in 2.x we get output as an int. 
# So in python 2.x specifically make one of the two numbers into float

2.0

In [14]:
#Example
x/2.0 # Should be like this in python 2.x

2.0

In [17]:
# So, all of our above examples i used a Numeric to assign to a variable
# We can assign a string to a variable
y = "I am Arun"

In [18]:
y

'I am Arun'

In [19]:
# Type of operations you can do with strings
y*2

'I am ArunI am Arun'

In [20]:
y/y # OBJECT DTYPE is not divisible by INT 64 or FLOAT64

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
y + 4 #STR cannot be added with a INT64 or FLOAT64

TypeError: must be str, not int

In [22]:
l = [1, 2, 3] # now l is a list - MUTABLE
d = {'a': 1, 'b': 2, 'c': 3} # Key value pair
t = (1,2,3) # t is a Tuple which is not MUTABLE..can't be changed

In [23]:
t +1

TypeError: can only concatenate tuple (not "int") to tuple

In [24]:
t*2

(1, 2, 3, 1, 2, 3)

In [25]:
t/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [26]:
# So the values in the TUPLE cant be changed by any ARITHMATIC Operation

In [27]:
# Lets deal with lists

In [28]:
l

[1, 2, 3]

In [29]:
l *2

[1, 2, 3, 1, 2, 3]

In [33]:
l.append(4)

In [34]:
l

[1, 2, 3, 4]

In [37]:
for i in l:
    print(i/2)

0.5
1.0
1.5
2.0

In [38]:
for i in t:
    print(t/2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [39]:
# A tuple can be converted to List
list(t)

[1, 2, 3]

In [40]:
# So using list function changes a tuple to a list.. so assigning this new list to a variable can help us in doing analysis

In [41]:
# Let's work on Dictionaries

In [42]:
d

{'a': 1, 'b': 2, 'c': 3}

In [45]:
d.keys() # So a, b, c are Keys

dict_keys(['a', 'b', 'c'])

In [47]:
d.values() # 1,2,3 are values

dict_values([1, 2, 3])

In [48]:
# Dictionaries are most important and powerful data structure which is Very fast