# PYTHON

TOPICS THAT WILL BE COVERED:

1) Basic Python Syntax 
2) Python Semantics: Variables 
3) Python Semantics: Operators
4) Built-In Scalar Types 
5) Built-In Data Structures
6) Control Flow Statements 
7) Defining Functions
8) Errors and Exceptions
9) Iterators
10) List Comprehension
11) Generators and Generator Expressions
12) Modules and Packages
13) Strings and Regular Expressions
14) Data science

# Basic Python Syntax

In [1]:
# LETS Start with Basic Python syntax

In [2]:
# BASIC ARITHEMATIC OPERATIONS
# Adding two numbers
2+2

4

In [3]:
# Assigning value to a variable
x = 2+2
print(x) # Can just call x instead of print(x)

4

In [4]:
# MUltiplication of two numbers 
3*2

6

In [5]:
x*4

16

In [6]:
x*x

16

In [7]:
# Division 
x/2 # Division operator outputs a float in python 3.x while in 2.x we get output as an int. 
# So in python 2.x specifically make one of the two numbers into float

2

In [8]:
#Example
x/2.0 # Should be like this in python 2.x

2.0

In [9]:
# So, all of our above examples i used a Numeric to assign to a variable
# We can assign a string to a variable
y = "I am Arun"

In [10]:
y

'I am Arun'

In [11]:
# Type of operations you can do with strings
y*2

'I am ArunI am Arun'

In [12]:
y/y # OBJECT DTYPE is not divisible by INT 64 or FLOAT64

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [13]:
y + 4 #STR cannot be added with a INT64 or FLOAT64

TypeError: cannot concatenate 'str' and 'int' objects

In [14]:
l = [1, 2, 3] # now l is a list - MUTABLE
d = {'a': 1, 'b': 2, 'c': 3} # Key value pair
t = (1,2,3) # t is a Tuple which is not MUTABLE..can't be changed

In [15]:
t +1

TypeError: can only concatenate tuple (not "int") to tuple

In [16]:
t*2

(1, 2, 3, 1, 2, 3)

In [17]:
t/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [18]:
# So the values in the TUPLE cant be changed by any ARITHMATIC Operation

In [19]:
# Lets deal with lists

In [20]:
l

[1, 2, 3]

In [21]:
l *2

[1, 2, 3, 1, 2, 3]

In [22]:
l.append(4)

In [23]:
l

[1, 2, 3, 4]

In [24]:
for i in l:
    print(i/2)

0
1
1
2

In [25]:
for i in t:
    print(t/2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [26]:
# A tuple can be converted to List
list(t)

[1, 2, 3]

In [27]:
# So using list function changes a tuple to a list.. so assigning this new list to a variable can help us in doing analysis

In [28]:
# Let's work on Dictionaries

In [29]:
d

{'a': 1, 'b': 2, 'c': 3}

In [30]:
d.keys() # So a, b, c are Keys

['a', 'c', 'b']

In [31]:
d.values() # 1,2,3 are values

[1, 3, 2]

In [32]:
# Dictionaries are most important and powerful data structure which is Very fast

In [33]:
# type() in python is used the object type in python
type(d)

dict

In [34]:
type(l)

list

In [35]:
type(t)

tuple

In [36]:
type(2)

int

In [37]:
type('arun')

str

In [38]:
# Lets generate some Guassian randome numbers
import numpy as np
num = np.random.randn(100)

In [39]:
type(num)

numpy.ndarray

In [40]:
# num is an Numpy's N-dimensional array

bool_	Boolean (True or False) stored as a byte
int_	Default integer type (same as C long; normally either int64 or int32)
intc	Identical to C int (normally int32 or int64)
intp	Integer used for indexing (same as C ssize_t; normally either int32 or int64)
int8	Byte (-128 to 127)
int16	Integer (-32768 to 32767)
int32	Integer (-2147483648 to 2147483647)
int64	Integer (-9223372036854775808 to 9223372036854775807)
uint8	Unsigned integer (0 to 255)
uint16	Unsigned integer (0 to 65535)
uint32	Unsigned integer (0 to 4294967295)
uint64	Unsigned integer (0 to 18446744073709551615)
float_	Shorthand for float64.
float16	Half precision float: sign bit, 5 bits exponent, 10 bits mantissa
float32	Single precision float: sign bit, 8 bits exponent, 23 bits mantissa
float64	Double precision float: sign bit, 11 bits exponent, 52 bits mantissa
complex_	Shorthand for complex128.
complex64	Complex number, represented by two 32-bit floats (real and imaginary components)
complex128	Complex number, represented by two 64-bit floats (real and imaginary components)
Additionally to intc the platform dependent C integer types short, long, longlong and their unsigned versions are defined.

In [47]:
num.dtype

dtype('float64')

In [48]:
# So the num variable is of type float64

In [52]:
# Changing dtype we can use Numpy's astype()
num = num.astype(str)

In [53]:
# So lets check if the float64 datatype changed to string data type
num.dtype

dtype('S32')

In [ ]:
# So we can change data types...