# PYTHON

TOPICS THAT WILL BE COVERED:

1) Basic Python Syntax 
2) Python Semantics: Variables 
3) Python Semantics: Operators
4) Built-In Scalar Types 
5) Built-In Data Structures
6) Control Flow Statements 
7) Defining Functions
8) Errors and Exceptions
9) Iterators
10) List Comprehension
11) Generators and Generator Expressions
12) Modules and Packages
13) Strings and Regular Expressions
14) Data science

# Basic Python Syntax

In [1]:
# LETS Start with Basic Python syntax

In [2]:
# BASIC ARITHEMATIC OPERATIONS
# Adding two numbers
2+2

4

In [3]:
# Assigning value to a variable
x = 2+2
print(x) # Can just call x instead of print(x)

4

In [4]:
# MUltiplication of two numbers 
3*2

6

In [5]:
x*4

16

In [6]:
x*x

16

In [7]:
# Division 
x/2 # Division operator outputs a float in python 3.x while in 2.x we get output as an int. 
# So in python 2.x specifically make one of the two numbers into float

2

In [8]:
#Example
x/2.0 # Should be like this in python 2.x

2.0

In [9]:
# So, all of our above examples i used a Numeric to assign to a variable
# We can assign a string to a variable
y = "I am Arun"

In [10]:
y

'I am Arun'

In [11]:
# Type of operations you can do with strings
y*2

'I am ArunI am Arun'

In [12]:
y/y # OBJECT DTYPE is not divisible by INT 64 or FLOAT64

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [13]:
y + 4 #STR cannot be added with a INT64 or FLOAT64

TypeError: cannot concatenate 'str' and 'int' objects

In [14]:
l = [1, 2, 3] # now l is a list - MUTABLE
d = {'a': 1, 'b': 2, 'c': 3} # Key value pair
t = (1,2,3) # t is a Tuple which is not MUTABLE..can't be changed

In [15]:
t +1

TypeError: can only concatenate tuple (not "int") to tuple

In [16]:
t*2

(1, 2, 3, 1, 2, 3)

In [17]:
t/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [18]:
# So the values in the TUPLE cant be changed by any ARITHMATIC Operation

In [19]:
# Lets deal with lists

In [20]:
l

[1, 2, 3]

In [21]:
l *2

[1, 2, 3, 1, 2, 3]

In [22]:
l.append(4)

In [23]:
l

[1, 2, 3, 4]

In [24]:
for i in l:
    print(i/2)

0
1
1
2

In [25]:
for i in t:
    print(t/2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [26]:
# A tuple can be converted to List
list(t)

[1, 2, 3]

In [27]:
# So using list function changes a tuple to a list.. so assigning this new list to a variable can help us in doing analysis

In [28]:
# Let's work on Dictionaries

In [29]:
d

{'a': 1, 'b': 2, 'c': 3}

In [30]:
d.keys() # So a, b, c are Keys

['a', 'c', 'b']

In [31]:
d.values() # 1,2,3 are values

[1, 3, 2]

In [32]:
# Dictionaries are most important and powerful data structure which is Very fast

In [33]:
# type() in python is used the object type in python
type(d)

dict

In [34]:
type(l)

list

In [35]:
type(t)

tuple

In [36]:
type(2)

int

In [37]:
type('arun')

str

In [38]:
# Lets generate some Guassian randome numbers
import numpy as np
num = np.random.randn(100)

In [39]:
type(num)

numpy.ndarray

In [40]:
# num is an Numpy's N-dimensional array

# bool_	Boolean (True or False) stored as a byte
int_	Default integer type (same as C long; normally either int64 or int32)
intc	Identical to C int (normally int32 or int64)
intp	Integer used for indexing (same as C ssize_t; normally either int32 or int64)
int8	Byte (-128 to 127)
int16	Integer (-32768 to 32767)
int32	Integer (-2147483648 to 2147483647)
int64	Integer (-9223372036854775808 to 9223372036854775807)
uint8	Unsigned integer (0 to 255)
uint16	Unsigned integer (0 to 65535)
uint32	Unsigned integer (0 to 4294967295)
uint64	Unsigned integer (0 to 18446744073709551615)
float_	Shorthand for float64.
float16	Half precision float: sign bit, 5 bits exponent, 10 bits mantissa
float32	Single precision float: sign bit, 8 bits exponent, 23 bits mantissa
float64	Double precision float: sign bit, 11 bits exponent, 52 bits mantissa
complex_	Shorthand for complex128.
complex64	Complex number, represented by two 32-bit floats (real and imaginary components)
complex128	Complex number, represented by two 64-bit floats (real and imaginary components)
Additionally to intc the platform dependent C integer types short, long, longlong and their unsigned versions are defined.

In [59]:
num.dtype

dtype('S32')

In [60]:
# So the num variable is of type float64

In [61]:
# Changing dtype we can use Numpy's astype()
num = num.astype(str)

In [62]:
# So lets check if the float64 datatype changed to string data type
num.dtype

dtype('S32')

In [63]:
# So we can change data types...

In [64]:
# There are four distinct numerical datatypes
    #plain integers (32 bit precision)
    #long integers, (unlimited precision) add 'L' suffix to integer
    #Floating point numbers, (double type in C, precision based on Computer)
    #and complex numbers (2 floating point numbers, real - imaginary)

In [65]:
# Booleans are a subtype of plain integers

In [66]:
# It's possible to mix Numeric types during arithmetic, but the narrower type is
#converted to the 'Wide' type ( eg: integer --> float, float --> complex)

In [67]:
# Some Functions: int(), float(), long(), complex()

In [68]:
type(5)

int

In [69]:
type(5.0)

float

In [70]:
type(5L)

long

In [71]:
type(5*0j)

complex

In [72]:
# floating to int
int(5.0)

5

In [73]:
long(5)

5L

In [74]:
complex(5)

(5+0j)

In [75]:
## Operations on Numeric Types

# x+y  Sum of x and y
# x-y  difference of x and y
# x*y  product of x and y
# x/y quotient of x and y
# x // y (floored) quotient of x and y
# x%y remainder of x/y
# -x  x negated
# +x  x unchanged
# abs(x) absolute value or magnitude of x
#divmod(x,y) the pair(x // y, x% y)
#pow(x,y)  x to the power y
#x** y x to the power y

In [76]:
1%3

1

In [77]:
6/3

2

In [78]:
6%3

0

In [79]:
6%4

2

In [80]:
abs(-2)

2

In [81]:
divmod(9.0,4.0)

(2.0, 1.0)

In [82]:
#floor division, remainder --> divmod

In [83]:
3**2

9

In [84]:
x = 4.5

In [85]:
y = 2

In [86]:
x //y

2.0

In [87]:
print(type(1J))

<type 'complex'>

# SEQUENCE TYPES

In [88]:
# There are 7 sequence types:
    #1. Strings
    #2.Unicode
    #3.lists
    #4.Tuples
    #5.bytearrays
    #6.buffers
    #xrange objects

In [89]:
# Strings 
# String literals can be enclosed in matching single quotes (') or double quotes(")
# Thet can also be enclosed in matching groups of three single or double quotes

In [90]:
# The backslash(\) character is used to escape characters that otherwise have a special meaning, such as
#newline, backslash itself, or the quote character.

In [91]:
#String literals may optional;ly be prefixed with a letter 'r' or 'R'
# such strings are called raw strings and use different rules for interpreting backslash escape sequences

In [92]:
# A prefix of 'u' or 'U' makes the string a Unicode string.
# Unicode strings abecause the Unicode character set as defined by the Unicode Consortium and ISO 10646

In [93]:
# Let's start programming

In [94]:
'bat'

'bat'

In [95]:
"bat"

'bat'

In [96]:
"apple's"

"apple's"

In [100]:
#'apple's' # so if we have a plural or ' #and enclosing it with ' ' can be a problem

In [101]:
"""bat's"""

"bat's"

In [102]:
"""
Apples are tasty
"""

'\nApples are tasty\n'

In [103]:
'Bats are fun

SyntaxError: EOL while scanning string literal (<ipython-input-103-56061c48c4c0>, line 1)

In [104]:
#EOL while scanning string literal
# This error means we missed something

In [105]:
r'bat'

'bat'

In [106]:
u'bat'

u'bat'

In [107]:
############## ESCAPE SEQUENCE #########

In [108]:
# \newline Ignored
# \\ Backslash(\)
# \' Single quote(')
# \" Double quote(")
# \a ASCII Bell (BEL)
# \b ASCII Backspace(BS)
#\f ASCII Formfeed(FF)
# \n ASCII Linefeed(LF)
#\N{name} Character named name in the Unicode database(Unicode only)
# \r ASCII Carriage Return (CR)
#\tASCII Horizontal Tab(TAB)
#\uxxxx Character with 16-bit hex value xxxx (Unicode only)
#\Uxxxxxxxx Character with 32 bit hex value xxxxxxxx (Unicode only)
#\v ASCII Vertical Tab(VT)
#\ooo Character with octal value ooo
#\xhh Character with hex value hh

In [109]:
print('Hello')

Hello

In [110]:
print('Hello Arun/')

Hello Arun/

In [111]:
print('Hello Arun \')

SyntaxError: EOL while scanning string literal (<ipython-input-111-1d80d8be578d>, line 1)

In [112]:
# Why error? There is nothing left to close of the string

In [113]:
print('Hello Arun \\')

Hello Arun \

In [114]:
print('Hello \ Arun')

Hello \ Arun

In [115]:
print('Hello \newline Arun')

Hello
ewline Arun

In [116]:
print('Hello \n Arun')

Hello
 Arun

In [118]:
print('Hello \
      Arun')

Hello       Arun

In [119]:
print('Hello\' Arun')

Hello' Arun

In [120]:
print('Hello\' " "\' Arun')

Hello' " "' Arun

In [121]:
print('Hello \a Arun')

Hello  Arun

In [122]:
#RAW STRING & UNICODE

In [123]:
r'Hello \n Arun'

'Hello \\n Arun'

In [124]:
u'Hello \n Arun'

u'Hello \n Arun'

In [125]:
# With Raw and Unicode the escape sequence doesn't work like above