# PYTHON

TOPICS THAT WILL BE COVERED:

1) Basic Python Syntax 
2) Python Semantics: Variables 
3) Python Semantics: Operators
4) Built-In Scalar Types 
5) Built-In Data Structures
6) Control Flow Statements 
7) Defining Functions
8) Errors and Exceptions
9) Iterators
10) List Comprehension
11) Generators and Generator Expressions
12) Modules and Packages
13) Strings and Regular Expressions
14) Data science

# Basic Python Syntax

In [1]:
# LETS Start with Basic Python syntax

In [8]:
# BASIC ARITHEMATIC OPERATIONS
# Adding two numbers
2+2

4

In [9]:
# Assigning value to a variable
x = 2+2
print(x) # Can just call x instead of print(x)

4

In [10]:
# MUltiplication of two numbers 
3*2

6

In [11]:
x*4

16

In [12]:
x*x

16

In [13]:
# Division 
x/2 # Division operator outputs a float in python 3.x while in 2.x we get output as an int. 
# So in python 2.x specifically make one of the two numbers into float

2.0

In [14]:
#Example
x/2.0 # Should be like this in python 2.x

2.0

In [17]:
# So, all of our above examples i used a Numeric to assign to a variable
# We can assign a string to a variable
y = "I am Arun"

In [18]:
y

'I am Arun'

In [19]:
# Type of operations you can do with strings
y*2

'I am ArunI am Arun'

In [20]:
y/y # OBJECT DTYPE is not divisible by INT 64 or FLOAT64

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
y + 4 #STR cannot be added with a INT64 or FLOAT64

TypeError: must be str, not int