# PYTHON

TOPICS THAT WILL BE COVERED:

1) Basic Python Syntax 
2) Python Semantics: Variables 
3) Python Semantics: Operators
4) Built-In Scalar Types 
5) Built-In Data Structures
6) Control Flow Statements 
7) Defining Functions
8) Errors and Exceptions
9) Iterators
10) List Comprehension
11) Generators and Generator Expressions
12) Modules and Packages
13) Strings and Regular Expressions
14) Data science

# Basic Python Syntax

In [129]:
from __future__ import print_function

In [1]:
# LETS Start with Basic Python syntax

In [2]:
# BASIC ARITHEMATIC OPERATIONS
# Adding two numbers
2+2

4

In [3]:
# Assigning value to a variable
x = 2+2
print(x) # Can just call x instead of print(x)

4

In [4]:
# MUltiplication of two numbers 
3*2

6

In [5]:
x*4

16

In [6]:
x*x

16

In [7]:
# Division 
x/2 # Division operator outputs a float in python 3.x while in 2.x we get output as an int. 
# So in python 2.x specifically make one of the two numbers into float

2.0

In [8]:
#Example
x/2.0 # Should be like this in python 2.x

2.0

In [9]:
# So, all of our above examples i used a Numeric to assign to a variable
# We can assign a string to a variable
y = "I am Arun"

In [17]:
y

'I am Arun'

In [18]:
# Type of operations you can do with strings
y*2

'I am ArunI am Arun'

In [19]:
y/y # OBJECT DTYPE is not divisible by INT 64 or FLOAT64

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [20]:
y + 4 #STR cannot be added with a INT64 or FLOAT64

TypeError: must be str, not int

In [21]:
l = [1, 2, 3] # now l is a list - MUTABLE
d = {'a': 1, 'b': 2, 'c': 3} # Key value pair
t = (1,2,3) # t is a Tuple which is not MUTABLE..can't be changed

In [22]:
t +1

TypeError: can only concatenate tuple (not "int") to tuple

In [23]:
t*2

(1, 2, 3, 1, 2, 3)

In [24]:
t/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [25]:
# So the values in the TUPLE cant be changed by any ARITHMATIC Operation

In [26]:
# Lets deal with lists

In [27]:
l

[1, 2, 3]

In [28]:
l *2

[1, 2, 3, 1, 2, 3]

In [29]:
l.append(4)

In [30]:
l

[1, 2, 3, 4]

In [31]:
for i in l:
    print(i/2)

0.5
1.0
1.5
2.0

In [32]:
for i in t:
    print(t/2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [33]:
# A tuple can be converted to List
list(t)

[1, 2, 3]

In [34]:
# So using list function changes a tuple to a list.. so assigning this new list to a variable can help us in doing analysis

In [35]:
# Let's work on Dictionaries

In [36]:
d

{'a': 1, 'b': 2, 'c': 3}

In [37]:
d.keys() # So a, b, c are Keys

dict_keys(['a', 'b', 'c'])

In [38]:
d.values() # 1,2,3 are values

dict_values([1, 2, 3])

In [39]:
# Dictionaries are most important and powerful data structure which is Very fast

In [40]:
# type() in python is used the object type in python
type(d)

dict

In [41]:
type(l)

list

In [42]:
type(t)

tuple

In [43]:
type(2)

int

In [44]:
type('arun')

str

In [45]:
# Lets generate some Guassian randome numbers
import numpy as np
num = np.random.randn(100)

In [46]:
type(num)

numpy.ndarray

In [47]:
# num is an Numpy's N-dimensional array


# bool_	Boolean (True or False) stored as a byte
int_	Default integer type (same as C long; normally either int64 or int32)
intc	Identical to C int (normally int32 or int64)
intp	Integer used for indexing (same as C ssize_t; normally either int32 or int64)
int8	Byte (-128 to 127)
int16	Integer (-32768 to 32767)
int32	Integer (-2147483648 to 2147483647)
int64	Integer (-9223372036854775808 to 9223372036854775807)
uint8	Unsigned integer (0 to 255)
uint16	Unsigned integer (0 to 65535)
uint32	Unsigned integer (0 to 4294967295)
uint64	Unsigned integer (0 to 18446744073709551615)
float_	Shorthand for float64.
float16	Half precision float: sign bit, 5 bits exponent, 10 bits mantissa
float32	Single precision float: sign bit, 8 bits exponent, 23 bits mantissa
float64	Double precision float: sign bit, 11 bits exponent, 52 bits mantissa
complex_	Shorthand for complex128.
complex64	Complex number, represented by two 32-bit floats (real and imaginary components)
complex128	Complex number, represented by two 64-bit floats (real and imaginary components)
Additionally to intc the platform dependent C integer types short, long, longlong and their unsigned versions are defined.

In [51]:
num.dtype

dtype('<U32')

In [52]:
# So the num variable is of type float64

In [53]:
# Changing dtype we can use Numpy's astype()
num = num.astype(str)

In [54]:
# So lets check if the float64 datatype changed to string data type
num.dtype

dtype('<U32')

In [55]:
# So we can change data types...

In [56]:
# There are four distinct numerical datatypes
    #plain integers (32 bit precision)
    #long integers, (unlimited precision) add 'L' suffix to integer
    #Floating point numbers, (double type in C, precision based on Computer)
    #and complex numbers (2 floating point numbers, real - imaginary)

In [57]:
# Booleans are a subtype of plain integers

In [58]:
# It's possible to mix Numeric types during arithmetic, but the narrower type is
#converted to the 'Wide' type ( eg: integer --> float, float --> complex)

In [59]:
# Some Functions: int(), float(), long(), complex()

In [60]:
type(5)

int

In [61]:
type(5.0)

float

In [62]:
type(5L)

SyntaxError: invalid syntax (<ipython-input-62-8801229e3a42>, line 1)

In [63]:
type(5*0j)

complex

In [64]:
# floating to int
int(5.0)

5

In [65]:
long(5)

NameError: name 'long' is not defined

In [66]:
complex(5)

(5+0j)

In [67]:
## Operations on Numeric Types

# x+y  Sum of x and y
# x-y  difference of x and y
# x*y  product of x and y
# x/y quotient of x and y
# x // y (floored) quotient of x and y
# x%y remainder of x/y
# -x  x negated
# +x  x unchanged
# abs(x) absolute value or magnitude of x
#divmod(x,y) the pair(x // y, x% y)
#pow(x,y)  x to the power y
#x** y x to the power y

In [68]:
1%3

1

In [69]:
6/3

2.0

In [70]:
6%3

0

In [71]:
6%4

2

In [72]:
abs(-2)

2

In [73]:
divmod(9.0,4.0)

(2.0, 1.0)

In [74]:
#floor division, remainder --> divmod

In [75]:
3**2

9

In [76]:
x = 4.5

In [77]:
y = 2

In [78]:
x //y

2.0

In [79]:
print(type(1J))

<class 'complex'>

# SEQUENCE TYPES

In [80]:
# There are 7 sequence types:
    #1. Strings
    #2.Unicode
    #3.lists
    #4.Tuples
    #5.bytearrays
    #6.buffers
    #xrange objects

In [81]:
# Strings 
# String literals can be enclosed in matching single quotes (') or double quotes(")
# Thet can also be enclosed in matching groups of three single or double quotes

In [82]:
# The backslash(\) character is used to escape characters that otherwise have a special meaning, such as
#newline, backslash itself, or the quote character.

In [83]:
#String literals may optional;ly be prefixed with a letter 'r' or 'R'
# such strings are called raw strings and use different rules for interpreting backslash escape sequences

In [84]:
# A prefix of 'u' or 'U' makes the string a Unicode string.
# Unicode strings abecause the Unicode character set as defined by the Unicode Consortium and ISO 10646

In [85]:
# Let's start programming

In [86]:
'bat'

'bat'

In [87]:
"bat"

'bat'

In [88]:
"apple's"

"apple's"

In [89]:
#'apple's' # so if we have a plural or ' #and enclosing it with ' ' can be a problem

In [90]:
"""bat's"""

"bat's"

In [91]:
"""
Apples are tasty
"""

'\nApples are tasty\n'

In [92]:
'Bats are fun

SyntaxError: EOL while scanning string literal (<ipython-input-92-56061c48c4c0>, line 1)

In [93]:
#EOL while scanning string literal
# This error means we missed something

In [94]:
r'bat'

'bat'

In [95]:
u'bat'

'bat'

In [96]:
############## ESCAPE SEQUENCE #########

In [97]:
# \newline Ignored
# \\ Backslash(\)
# \' Single quote(')
# \" Double quote(")
# \a ASCII Bell (BEL)
# \b ASCII Backspace(BS)
#\f ASCII Formfeed(FF)
# \n ASCII Linefeed(LF)
#\N{name} Character named name in the Unicode database(Unicode only)
# \r ASCII Carriage Return (CR)
#\tASCII Horizontal Tab(TAB)
#\uxxxx Character with 16-bit hex value xxxx (Unicode only)
#\Uxxxxxxxx Character with 32 bit hex value xxxxxxxx (Unicode only)
#\v ASCII Vertical Tab(VT)
#\ooo Character with octal value ooo
#\xhh Character with hex value hh

In [98]:
print('Hello')

Hello

In [99]:
print('Hello Arun/')

Hello Arun/

In [100]:
print('Hello Arun \')

SyntaxError: EOL while scanning string literal (<ipython-input-100-1d80d8be578d>, line 1)

In [101]:
# Why error? There is nothing left to close of the string

In [102]:
print('Hello Arun \\')

Hello Arun \

In [103]:
print('Hello \ Arun')

Hello \ Arun

In [104]:
print('Hello \newline Arun')

Hello
ewline Arun

In [105]:
print('Hello \n Arun')

Hello
 Arun

In [106]:
print('Hello \
      Arun')

Hello       Arun

In [107]:
print('Hello\' Arun')

Hello' Arun

In [108]:
print('Hello\' " "\' Arun')

Hello' " "' Arun

In [109]:
print('Hello \a Arun')

Hello  Arun

In [110]:
#RAW STRING & UNICODE

In [111]:
r'Hello \n Arun'

'Hello \\n Arun'

In [112]:
u'Hello \n Arun'

'Hello \n Arun'

In [113]:
# With Raw and Unicode the escape sequence doesn't work like above

In [114]:
# RAW STRINGS AND UNICODE STRINGS WILL BE EXTREMELY USEFUL WHEN WORKING ON WEB APPLICATIONS

# STRING FORMATTING OPERATIONS

In [115]:
# String and Unicode objects have one unique built -in operation:
# the % operator(modulo)

# This is also known as the string formatting or interpolation operator

In [116]:
# Given format % values( where format is a string or Unicode object)
# % conversion specifications in format are replaced with zero or more elements of values.

#'d'  Signed integer decimal
#'i'  Signed integer decimal
# 'o' Signed octal value
# 'x' Signed hexadecimal (lowercase)
#'X' Signed hexadecimal (uppercase)
#'e' Floating point exponential format(lowercase)
#'E' Floating point Exponential format(Uppercase)
#'f' Floating point decimal format
#'F' Floating point decimal format
#'g' Floating point format. uses Lowercase exponential format if
#    if exponent is less than -4 or not less than precision, decimal format otherwise.
#'G' ' dido '
# 'c' Single character(accepts integer or single character string)

In [133]:
from __future__ import print_function
print('Hello')

Hello

In [134]:
print('hello ???')

hello ???

In [135]:
print('Hello %s' % 'Arun')

Hello Arun

In [120]:
# Basically we are putting a place holder

In [136]:
print('Hello', 'Arun')

Hello Arun

In [122]:
# Why placeholder ?

In [137]:
# Formatting comes very handy 
print(' Hello %s, your age is %s, your like %s' % ('Arun', '16', 'Apples'))

 Hello Arun, your age is 16, your like Apples

In [124]:
# % is the placeholder

In [138]:
print('Hellp %d' %7)

Hellp 7

In [126]:
#d is a numeric
#s is a string

In [139]:
print('Hello %c' %'d')

Hello d

In [140]:
print('Hello %f' %7.323)

Hello 7.323000

In [141]:
print('hello %r' %'food')

hello 'food'

In [142]:
print('%(language)s has %(number)03d quote types.' % {"language": "Python", "number":2})

Python has 002 quote types.

In [ ]:
# In the above example if we notice we used a Dictionary which is a Key Value pair

In [ ]:
############ STRING OBJECTS ##############

In [ ]:
# str().format()
# print('%s, %s, %s') % ('a','b', 'c')
# print('{0}, {1}, {2}'.format('a','b','c'))
#print('{}, {},{}'.format('a','b','c'))
#print('{2},{1},{0}'.format('a','b','c'))
#print('{2},{1},{0}'.format(*'abc')) # unpacking argument sequence
#print('{0}{1}{0}'.format('abra','cad')) # Arguments indices can be repeated

In [ ]:
# Lets check the above print statements

In [144]:
print(('%s, %s, %s') % ('a','b', 'c'))

a, b, c

In [145]:
print('{0}, {1}, {2}'.format('a','b','c'))

a, b, c

In [146]:
print('{}, {},{}'.format('a','b','c'))

a, b,c

In [147]:
print('{2},{1},{0}'.format('a','b','c'))

c,b,a

In [148]:
print('{2},{1},{0}'.format(*'abc')) # unpacking argument sequence

c,b,a

In [149]:
print('{0}{1}{0}'.format('abra','cad')) # Arguments indices can be repeated

abracadabra

In [151]:
print('{2},{1},{0}'.format(*'abc')) # Unpacking argument sequence

c,b,a

In [153]:
print('{0}{1}{0}'.format('abra','cad')) # Argument indices can be repeated

abracadabra

In [155]:
print('Coorrdinates:{latitude},{longitude}'.format(latitude ='37.24N', longitude='-115.81W'))

Coorrdinates:37.24N,-115.81W

In [156]:
coord = {'latitude':'37.24N','lomgitude':'-115.81W'}

In [157]:
print('Coordinates:{latitude},{lomgitude}'.format(**coord))

Coordinates:37.24N,-115.81W

In [158]:
coord = (3,5)

In [159]:
print('X:{0[0]}; Y:{0[1]}.format(coord)')

X:{0[0]}; Y:{0[1]}.format(coord)

In [160]:
print("hello" 'world')

helloworld

# LISTS & TUPLES

In [161]:
## LISTS

# The list type is a container that holds a number of other objects,
# in a given order. The list type implements the sequence protocol,
#and also allows us to add and remove objects from the sequence.

In [162]:
# To create a list, put a number of expressions in square brackets:

# []
# [<expression>,....]

In [163]:
# This construct is known as a 'List Display'
# Python also supports computer lists called 'List Comprehension

In [164]:
#Built-in <list> type object:
#list()

In [165]:
[]

[]

In [166]:
['string']

['string']

In [167]:
['string',1]

['string', 1]

In [168]:
list('a')

['a']

In [169]:
()

()

In [170]:
1,2,3,4,5

(1, 2, 3, 4, 5)

In [171]:
(1,)

(1,)

In [172]:
 # index = 0,1,2,3....

In [173]:
[4,10,12,4,5][2]

12

In [174]:
[3,5,2,4][-1]

4

In [175]:
[3,5,6,3,4,5,9,23,4][:6]

[3, 5, 6, 3, 4, 5]

In [176]:
# Tuples are immutable while lists are mutable

In [177]:
# Strings and Tuples are immutable while lists and Byte array are Mutable

In [178]:
#Mutable sequence operations

In [179]:
L = [1,2,3,4,5,6]

In [180]:
# Strings and Tuples are IMMUTABLE and do not support these operations

#l[i] = x
#L[i:j] = t
#del L[i:j]
#L[i:j:k] = t
#del L[i:j:k]
#L.append(x)
#L.extend(x)
#L.count(x)
#L.index(x[,i[,j]])
#L.insert(i,x)
#L.pop([i])
#L.remove(x)
#L.reverse()
#L.sort([cmp[,key[,reverse]]])

In [181]:
L[2]

3

In [182]:
# Changing value
L[3] = 1000

In [183]:
L

[1, 2, 3, 1000, 5, 6]

In [184]:
L[2:5]

[3, 1000, 5]

In [185]:
L[2:5] = [5,30,23]

In [186]:
L

[1, 2, 5, 30, 23, 6]

In [187]:
del L[2:4]

In [188]:
L

[1, 2, 23, 6]

In [190]:
L.append([4,50,320,434])

In [191]:
L

[1, 2, 23, 6, [4, 50, 320, 434]]

In [192]:
L.append(7)

In [193]:
L

[1, 2, 23, 6, [4, 50, 320, 434], 7]

In [194]:
L.extend([8,9,23,54])

In [195]:
L

[1, 2, 23, 6, [4, 50, 320, 434], 7, 8, 9, 23, 54]

In [196]:
L.pop()

54

In [197]:
#.pop removes from list
L.pop(4)

[4, 50, 320, 434]

In [198]:
# Remove does simlar thing as pop
L.remove(4)

ValueError: list.remove(x): x not in list

In [199]:
# remove works on matching word... 4 is not in list thats why it has thrown a error
# POP works on index and REMOVE works on value

In [200]:
L

[1, 2, 23, 6, 7, 8, 9, 23]

In [201]:
L.reverse()

In [203]:
L.count(3)

0

In [204]:
L.index(2)

6

In [205]:
L.insert(2,4)

In [206]:
L

[23, 9, 4, 8, 7, 6, 23, 2, 1]

In [207]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
loc = names1.index("Edward")
print(loc)

ValueError: 'Edward' is not in list

In [208]:
# DICTIONARIES

# A dictionary keys are almost arbitrary values. Values that are not
#hashable, that is, values containg lists, dictionaries or other mutable
#types(that are compared by value rather than by object identity) may not
#be used as keys. 
# Numeric types used for keys obey the normal rules for numeric comparision: 
#If two numbers compare equal(such as 1 and 1.0) then 
# they can be used interchgeably to index the same dictionary entry.
## Dictionaries can be created by placing a comma-seperated list of key:value pairs within braces, for example:

In [209]:
{} # Empty dictionary

{}

In [210]:
{'jack': 4098, 'bill': 4127} # Key value pair list in Brackes

{'bill': 4127, 'jack': 4098}

In [211]:
##dict() --> type constructor

In [212]:
dict(jack = 4098, bill = 4127)

{'bill': 4127, 'jack': 4098}

In [213]:
{23:'bill'}

{23: 'bill'}

In [214]:
dict(23:'bill')

SyntaxError: invalid syntax (<ipython-input-214-c648aa250d22>, line 1)

In [215]:
# Not possible with dict()

# MAPPING ITEMS - DICTIONARY ITEMS

In [217]:
## Dictionary Operations

# len(d)
# d[key]
# d[key] = value
# del d[key]
# key in d
# key not in d
# iter(d)
# clear()
# copy()
# get(key[, default])
# has_key(key)
# items()
# iteritems()
# iterkeys()
# itervalues()
# keys()
# pop(key[,default])
# popitem()
# setdefault(key[,default])
# update([other])
# values()
# viewitems()
# viewkeys()
# viewvalues()

In [218]:
D = {'jack': 111, 'bill': 222, 'arun': 333}

In [219]:
# Length of dic
len(D)

3

In [221]:
# Slicing # Returns a value
D['jack']

111

In [222]:
D['bill'] = 444

In [223]:
D

{'arun': 333, 'bill': 444, 'jack': 111}

In [227]:
# Add 
D['Anna']= 555

In [228]:
D

{'Anna': 555, 'arun': 333, 'bill': 444, 'jack': 111}

In [229]:
'jack' in D

True

In [230]:
'Ames' not in D

True

In [231]:
'bill' not in D

False

In [232]:
# ITER is used in loop.. used in any iterable objects

In [233]:
iter(D)

In [234]:
#D.clear() erases entire dictionary

In [235]:
# copy
D2 = D.copy()

In [236]:
D2

{'Anna': 555, 'arun': 333, 'bill': 444, 'jack': 111}

In [237]:
# Get value for a Key
D.get('arun')

333

In [239]:
D.get('Anna', ' Sam' 'Not in Dict')

555

In [243]:
D.items()

dict_items([('jack', 111), ('bill', 444), ('arun', 333), ('Anna', 555)])

In [245]:
# ITER KEYS just gives all the KEYS in the dictionary
# ITER VALUES gives all the Values in tbe dictionary

D.keys()

dict_keys(['jack', 'bill', 'arun', 'Anna'])

In [247]:
 i = iter(D.keys())

In [248]:
i

In [249]:
'arun' in i

True

In [250]:
i2 = i
for k in i2:
    print(k)

Anna

In [251]:
# POP is similar like in list
D.pop('jack')

111

In [252]:
D['jack'] = 111

In [253]:
D.values()

dict_values([444, 333, 555, 111])

In [255]:
D.viewitems()

AttributeError: 'dict' object has no attribute 'viewitems'

In [256]:
D

{'Anna': 555, 'arun': 333, 'bill': 444, 'jack': 111}

In [258]:
iter(D)

In [261]:
for i in D.keys():
    print(i)

bill
arun
Anna
jack

In [265]:
confusion = {}
confusion[1] = 1
confusion['1'] = 2
confusion[1] += 1
sum = 0
for k in confusion:
    sum += confusion[k]
print(sum)

4

In [266]:
confusion = {}
confusion[1] = 1
confusion['1'] = 2
confusion[1.0] = 4
sum = 0
for k in confusion:
    sum += confusion[k]
print(sum)

6

In [268]:
confusion # dict doesn't take a Numeric key

{1: 4, '1': 2}

In [270]:
boxes = {}
jars = {}
crates = {}
boxes['cereal'] = 1
boxes['candy'] = 2
jars['honey'] = 4
crates['boxes'] = boxes
crates['jars'] = jars
print(len(crates[boxes]))

TypeError: unhashable type: 'dict'

In [271]:
### TRUTH TESTING
# Any object can be tested for truth value, for use in an if or while
# condition or as operand of the Boolean operations below. 
# The folloing values are considered false:

# None
# False
# Zero of any numeric type, for exaample 0, 0L, 0.0, 0j
# Any empty sequence, for example ',(),[]
# Any empty mapping, for example {}

# All other values are considered True - So objects of many types are always True

## BOOLEAN OPERATIONS

# x or y        if x is false, then y, else x
# x and y       if x is false, then x, else y
# not x         if x is false, then True, else False

In [272]:
## Comparisions

# Comparision operations are supported by all objects.
# they all have the same priority(which is higher than that of the Boolean operations)
# Comparisions can be chained arbitrarily; for example x<y<=z

# < - strictly less than
# <= less than or equal
# > strictly greater than
# >= greater than or equal
# == equal
# != not equal
#is object identity
#is not negated object identity

In [273]:
1 == 4

False

In [275]:
'arun' == 10

False